# node-postgres configuration
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

# gmail SMTP
MAIL_ADDRESS=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=

# mailtrap SMTP
MAIL_ADDRESS_TEST=
MAIL_PASSWORD_TEST=
MAIL_HOST_TEST=
MAIL_PORT_TEST=

# Message broker
RABBITMQ_SERVER=

# redis
REDIS_SERVER=